
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: theboldfont;
    src: url(fonts/theboldfont.ttf);
}

@font-face {
    font-family: samarkant;
    src: url(fonts/samarkant.TTF);
}

.leading-relaxed-sub{
    height: 30px;
}

.subscribe>input {
    border: 2px solid rgb(255, 255, 255);
    width: 70%;
    padding: 15px;
    margin-top: 18px;
    margin-right: 12px;
    background: none;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 24px;
    text-transform: uppercase;
}

.sub-button {
    border: 2px dashed rgb(255, 255, 255);
    width: 28%;
    text-align: center !important;
    padding: 15px;
    margin-top: 12px;
    background: none;
    font-family: 'Poppins', sans-serif;
    color: #D5AB2F;
    font-size: 24px;
    text-transform: uppercase;
}

.main-button {
    border: 2px dashed rgb(255, 255, 255);
    padding: 15px 30px;
    margin-top: 12px;
    background: none;
    font-family: theboldfont;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;

}

button,
input,
optgroup,
select,
textarea {
    line-height: 25px;
}

.icon {
    fill: #D5AB2F;
}

.icon:hover {
    fill: #ffffff;
}

.icon-second {
    fill: #ffffff;
    margin-right: 12px;
}

.icon-second:hover {
    fill: #D5AB2F;
}
nav > a:hover {
    color: #D5AB2F !important;
}

button:hover {
    color: #D5AB2F !important;
    border: 2px dashed #D5AB2F;
}

.logo {
    position: absolute;
    width: 120px;
    margin-top: 54px;
}

.logo-text {
    color: #ffffff;
    margin-left: 140px;
    font-family: samarkant;
    font-size: 40px;
}

.logo-text>span {
    color: #D5AB2F;
}

.bg-texture {
    background-image: url(./images/background-texture.png);
    background-color: #131313;
}

.sc-color {
    color: #D5AB2F;
}

.sc-bg {
    background-color: #D5AB2F;
}

nav,
footer,
.title-font {
    font-family: theboldfont !important;
    text-transform: uppercase;
}

.subtitle-font {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

.cart{
    background-color:rgb(255, 255, 255);
    width:80px;
    height:80px;
    position:fixed;
    z-index:1000;
    right:0px;
    bottom:0px;
    margin-right:12px;
    margin-bottom:75px;
    border-radius:50px;
    padding: 19px;
}

.cart-count{
    width: 30px;
    height: 30px;
    background-color: #860017;
    border-radius: 30px;
    padding: 2px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cart-button, .checkout-button{
    border: 2px solid #ffffff;
    padding: 12px 24px;
    color: #ffffff;
    font-family: theboldfont !important;
    text-transform: uppercase;
}


.checkout-button:hover{
    border: 2px dashed #D5AB2F;
    color: #D5AB2F;
}

.item-menu li{
    padding: 10px 0px;
    font-family: theboldfont !important;
    text-transform: uppercase;
}

active{
    color: #D5AB2F;
}


input, input[type=text], input[type=date], input[type=password], select{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-right: 12px;
    background: none !important;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 18px;
  
}

.date_of_birth{
    margin-top: 18px;
}
select {
margin-top: 0px !important;
margin-right: 0px !important;
}
select option {
   
    margin: 40px;
    background: rgba(0, 0, 0, 0.884);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
.radio{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    
    padding: 10px;    
    background: none !important;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 24px;
    text-transform: uppercase;
}

input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }




  .radio_button {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio_button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio_button:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio_button input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio_button input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio_button .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }











  

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(icons/calender.png) no-repeat;
    width: 19px;
    height: 19px;
    border-width: thin;
}

textarea{
    border: 1px solid rgb(134, 134, 134);
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-right: 12px;
    background: none !important;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 20px;
}

.textarea_pop{
    border: 1px solid rgb(134, 134, 134);
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-right: 0px !important;
    background: none !important;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 20px;
}

input:-webkit-autofill{
    background: none !important;
}

input:-webkit-autofill:focus{
    background: none !important;
}





.page-cart-button{
    padding: 1px 10px;
    color: #ffffff;
}

.page-cart-button:hover{
    padding: 1px 10px !important;
    fill: #D5AB2F !important;
    border: none !important;
}



active{
    color: #D5AB2F;
}



.inline-group {
    max-width: 6.5rem;
    margin-top: 12px;   
    border: 2px solid rgb(255, 255, 255) !important; 
  }

  .inline-group input{
      border: none !important;
  }
  
  .inline-group .form-control {
    text-align: center;
  }
  
  .form-control[type="number"]::-webkit-inner-spin-button,
  .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #loading_spinner
{
 display:none;
}



@media (min-width: 1200px) {

}


.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.callout.callout-success {
    border-color: #00733e;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}



/* POPUP MODIFIER DESIGN */


.popup h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;

}

.content h2{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin: 25px 0px 15px 0px !important;

}

.content{
    font-family: 'Poppins', sans-serif;
}

.fa-square-o {
    color: rgb(0, 255, 0);
    font-size: 2.16em;
}

.fa-circle {
    color: rgba(255, 0, 0, .5);
}


.check-container{       
    display: flex;    
    align-items: center;    
    padding: 10px 0px;
  }
input.checkbox{
    margin: 0px 15px 0px 0px !important;
    width: 17px !important;
    
}

input[type="checkbox"]{
    width: 20px !important; /*Desired width*/
    height: 20px !important; /*Desired height*/
    cursor: pointer;
   
    
  }

  input[type="radio"]{
    width: 20px !important; /*Desired width*/
    height: 20px; /*Desired height*/
    cursor: pointer;
    
    
  }

  .checklist{
      display: flex !important;
      align-items: center !important;
  }

  .main_pop_price{
    margin-top: 5px;
    color: #535665 !important;
    font-size: 16px;
    font-weight: 400 !important;
  }

  .note{
    
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin: 15px 0px 0px 0px !important;
  }